force-app/main/default/flows/Orientation_Quiz.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Not_Valid</name>
        <label>Assign Not Valid</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>isValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quiz</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>False</name>
        <choiceText>False</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Num1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Num10</name>
        <choiceText>10</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Num2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Num3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Num30</name>
        <choiceText>30</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Num7</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>True</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Validate_Answers</name>
        <label>Validate Answers</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Not_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Is_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flight_information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>days_to_check_in</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Num3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>housing_information_validation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Num7</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>social_security_application</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Num10</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Num30</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Num30</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>school_activities_per_year</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Num2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>time_before_joined_by_dependants</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Num3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>second_job_on_program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>False</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subject_to_us_laws</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtain_us_citizenship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>False</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Completed_Quiz_Status</targetReference>
            </connector>
            <label>Is Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>OrientationQuiz {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orientation Quiz</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quiz</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Completed_Quiz_Status</name>
        <label>Update Completed Quiz Status</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>You_Passed_the_Quiz</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Orientation_Attended__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Quiz</name>
        <label>Quiz</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Answers</targetReference>
        </connector>
        <fields>
            <name>Orientation_Pop_Quiz</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Orientation Pop-Quiz Questions&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quiz_Instruction</name>
            <fieldText>&lt;p&gt;You will need to respond correctly to 10 questions and provide the secret word at the end of this quiz.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;One or more answers are incorrect. Please review your answers, and the Orientation Video.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isValid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>flight_information</name>
            <choiceReferences>False</choiceReferences>
            <choiceReferences>True</choiceReferences>
            <dataType>String</dataType>
            <fieldText>You must report your flight and visa information to Greenheart Exchange.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>days_to_check_in</name>
            <choiceReferences>Num3</choiceReferences>
            <choiceReferences>Num7</choiceReferences>
            <choiceReferences>Num10</choiceReferences>
            <choiceReferences>Num30</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>How many days after arriving do you have to check in with Greenheart Exchange?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>housing_information_validation</name>
            <choiceReferences>Num3</choiceReferences>
            <choiceReferences>Num7</choiceReferences>
            <choiceReferences>Num10</choiceReferences>
            <choiceReferences>Num30</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>How many days after your DS-2019 start date do you have submit your housing information (validate) to Greenheart Exchange?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>social_security_application</name>
            <choiceReferences>Num3</choiceReferences>
            <choiceReferences>Num7</choiceReferences>
            <choiceReferences>Num10</choiceReferences>
            <choiceReferences>Num30</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>How many days after you become ACTIVE in SEVIS should you wait, before applying for Social Security?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>required_checkin_frequency</name>
            <choiceReferences>Num3</choiceReferences>
            <choiceReferences>Num7</choiceReferences>
            <choiceReferences>Num10</choiceReferences>
            <choiceReferences>Num30</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>How often are you required to check in with Greenheart Exchange? Every ___ days.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>school_activities_per_year</name>
            <choiceReferences>Num1</choiceReferences>
            <choiceReferences>Num2</choiceReferences>
            <choiceReferences>Num3</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>How many Cultural Activies must you submit per school year? A13</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>time_before_joined_by_dependants</name>
            <choiceReferences>Num1</choiceReferences>
            <choiceReferences>Num2</choiceReferences>
            <choiceReferences>Num3</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>How many months does Greenheart Exchange generally require teachers to be on program, before they are joined by their J-2 dependents?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>second_job_on_program</name>
            <choiceReferences>False</choiceReferences>
            <choiceReferences>True</choiceReferences>
            <dataType>String</dataType>
            <fieldText>You can have a second job while on program.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>subject_to_us_laws</name>
            <choiceReferences>False</choiceReferences>
            <choiceReferences>True</choiceReferences>
            <dataType>String</dataType>
            <fieldText>You are subject to all U.S. Federal, State and local laws.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>obtain_us_citizenship</name>
            <choiceReferences>False</choiceReferences>
            <choiceReferences>True</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The purpose of the TeachUSA program is to help obtain US Citizenship or another work visa to the US in the future.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_Passed_the_Quiz</name>
        <label>You Passed the Quiz</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>We_Did_It</name>
            <fieldText>&lt;p&gt;You passed, congratulations! You are one step closer to your destination.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
