force-app/main/default/flows/Screen_Flow_Teacher_Program_Extension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assigning the opportunity to the Program Renewal variable to prep for record creation</description>
        <name>Assign_Opportunity_to_Program_Renewal</name>
        <label>Assign Opportunity to Program Renewal</label>
        <locationX>1930</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>programExtension.J1_Opportunity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_My_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>programExtension.Position_at_School__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_position</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>programExtension.Is_Address_Correct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Your_Address_the_Same</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>programExtension.Will_your_position_be_same__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Position_the_Same</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Program_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Letter_Id</name>
        <label>Contract Letter Id</label>
        <locationX>2194</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>cdlRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Documents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdlRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Document_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdlsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cdlRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Document_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Contract_Letter_Doc</name>
        <label>Create Contract Letter Doc</label>
        <locationX>1930</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>docToCreate.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract Letter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docToCreate.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_My_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docToCreate.Program_Extension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>programExtension.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_School_Letter_Doc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Cultural_Letter_Doc</name>
        <label>Create Cultural Letter Doc</label>
        <locationX>1930</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>docToCreate.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cultural Reference Letter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docToCreate.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_My_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docToCreate.Program_Extension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>programExtension.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_School_Letter_Doc</name>
        <label>Create School Letter Doc</label>
        <locationX>1930</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>docToCreate.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>School Reference Letter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docToCreate.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_My_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>docToCreate.Program_Extension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>programExtension.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>docToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cultural_Letter_Doc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cultural_Ref_Letter</name>
        <label>Cultural Ref Letter</label>
        <locationX>2802</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>cdlRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Documents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdlRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Culture_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdlsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cdlRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Culture_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a variable used as the field to show conditional required text</description>
        <name>no_file_found</name>
        <label>no file found</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>isValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>program_extension_upload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>School_Ref_Letter</name>
        <label>School Ref Letter</label>
        <locationX>2498</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>cdlRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Documents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdlRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_School_Upload_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdlsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cdlRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_School_Upload_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TC_Error</name>
        <label>TC Error</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>tcNoMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>program_extension_upload</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>no</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Checking to see if the variable that holds the document Id from the previous screen is blank to create a validation rule</description>
        <name>Did_file_upload</name>
        <label>Did file upload?</label>
        <locationX>1122</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_to_Program_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoFileFound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>lengthOfUploadedFiles</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lengthSchoolUpload</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lengthCulturalUpload</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>no_file_found</targetReference>
            </connector>
            <label>No File Found</label>
        </rules>
        <rules>
            <name>Name_Does_not_Match_and_No_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>programExtension.Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contact.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>programExtension.Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TC_Error</targetReference>
            </connector>
            <label>Name Does not Match and No Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doc_Type</name>
        <label>Doc Type</label>
        <locationX>2518</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Loop_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>docType_Contract_Letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Documents.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Document_Ids</targetReference>
            </connector>
            <label>Contract Letter</label>
        </rules>
        <rules>
            <name>docType_School_Ref_Letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Documents.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>School Reference Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_School_Upload_Ids</targetReference>
            </connector>
            <label>School Ref Letter</label>
        </rules>
        <rules>
            <name>docType_Cultural_Ref_Letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Documents.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cultural Reference Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Culture_Ids</targetReference>
            </connector>
            <label>Cultural Ref Letter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failed_to_Find_Records</name>
        <label>Failed to Find Records?</label>
        <locationX>586</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>program_extension_upload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_My_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>could_not_find_opp</targetReference>
            </connector>
            <label>No Records Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lengthCulturalUpload</name>
        <dataType>Number</dataType>
        <expression>LEN({!cultural_upload.contentDocIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>lengthOfUploadedFiles</name>
        <dataType>Number</dataType>
        <expression>LEN({!contract_letter.contentDocIds})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>lengthSchoolUpload</name>
        <dataType>Number</dataType>
        <expression>LEN({!school_upload.contentDocIds})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Screen Flow: Teacher Program Extension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Teacher Program Extension</label>
    <loops>
        <name>Loop_Documents</name>
        <label>Documents</label>
        <locationX>1930</locationX>
        <locationY>1430</locationY>
        <collectionReference>documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Doc_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CDLs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Culture_Ids</name>
        <label>Loop Through Culture Ids</label>
        <locationX>2714</locationX>
        <locationY>1646</locationY>
        <collectionReference>cultural_upload.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cultural_Ref_Letter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Document_Ids</name>
        <label>Loop Through Document Ids</label>
        <locationX>2106</locationX>
        <locationY>1646</locationY>
        <collectionReference>contract_letter.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contract_Letter_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_School_Upload_Ids</name>
        <label>Loop Through School Upload Ids</label>
        <locationX>2410</locationX>
        <locationY>1646</locationY>
        <collectionReference>school_upload.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>School_Ref_Letter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CDLs</name>
        <label>Create CDLs</label>
        <locationX>1930</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>complete</targetReference>
        </connector>
        <inputReference>cdlsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Documents</name>
        <label>Create Documents</label>
        <locationX>1930</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Loop_Documents</targetReference>
        </connector>
        <inputReference>documents</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creating a new Program Record linked the the opportunity</description>
        <name>Create_New_Program_Record</name>
        <label>Create New Program Record</label>
        <locationX>1930</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Create_Contract_Letter_Doc</targetReference>
        </connector>
        <inputReference>programExtension</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Finding the opportunity linked to the current user via contact id</description>
        <name>Find_My_Opportunity</name>
        <label>Find My Opportunity</label>
        <locationX>586</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Failed_to_Find_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.J1_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>586</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_My_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>complete</name>
        <label>complete</label>
        <locationX>1930</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>extension_complete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Thank You for Submitting!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your extension has been completed!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>could_not_find_opp</name>
        <label>could not find opp</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Failed_to_Find_Records</targetReference>
        </connector>
        <fields>
            <name>sorry</name>
            <fieldText>&lt;p&gt;Sorry, we could not find your information. Please contact us and let us know.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Program extension introduction and confirmation</description>
        <name>program_extension</name>
        <label>program extension</label>
        <locationX>586</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>program_renewal_extension</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px; color: rgb(138, 197, 63);&quot;&gt;Program Extension&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(116, 116, 116);&quot;&gt;Instructions&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;(Please note that you are not permitted to change schools if you are choosing to extend your program.)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To submit a Program Extension Request you will need to confirm the following information and upload the required documentation&lt;strong&gt; no later than January 16&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Before signing and submitting your Program Renewal request you must do the following steps below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Confirm you are staying in your current position or if you are not staying in your current position, inform Greenheart what your new position will be.&lt;/li&gt;&lt;li&gt;Confirm your address is correct or provide an updated address.&lt;/li&gt;&lt;li&gt;Confirm the list of current J2 dependents and inform Greenheart of your intent if you wish to apply new J2. dependents&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>program_extension_upload</name>
        <label>program extension upload</label>
        <locationX>1122</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_file_upload</targetReference>
        </connector>
        <fields>
            <name>current_school_information</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;School Information&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name of Host School: &lt;/strong&gt; {!Find_My_Opportunity.Current_Placement__r.School__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Host School Address:  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Find_My_Opportunity.Current_Placement__r.School__r.BillingStreet}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Find_My_Opportunity.Current_Placement__r.School__r.BillingCity}, {!Find_My_Opportunity.Current_Placement__r.School__r.BillingState} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿{!Find_My_Opportunity.Current_Placement__r.School__r.BillingPostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Position: &lt;/strong&gt;{!Find_My_Opportunity.Current_Placement__r.Positions__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Position_the_Same</name>
            <dataType>Boolean</dataType>
            <fieldText>Position the Same</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checkbox_directions_school</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Check the box if yes. If no, you will be prompted to enter your new position below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Position_the_Same</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>new_position</name>
            <dataType>String</dataType>
            <fieldText>Please list your new position.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Position_the_Same</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>current_us_address</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Current US Address&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Currently Listed US Address:&lt;/p&gt;&lt;p&gt;{!Find_My_Opportunity.US_Address__c}&lt;/p&gt;&lt;p&gt;{!Find_My_Opportunity.US_City__c}, {!Find_My_Opportunity.Placement_State__c} {!Find_My_Opportunity.US_Postal_Code__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_Your_Address_the_Same</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Your Address the Same?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>new_school_information</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Check the box above if yes. If no, please update your address information below. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Update New Address&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Your_Address_the_Same</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>programExtension.Updated_US_Address__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Your_Address_the_Same</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>required_documents</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Required Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>letter_required</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 17, 0);&quot;&gt;Contract Letter, School Reference Letter, and Cultural Reference Letter are required. Please (re)upload all of your files. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isValid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>contract_letter</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Contract Letter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf, .csv, .word</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>documentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>school_upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload School Reference Letter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf, .csv, .word</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cultural_upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Cultural Reference Letter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf, .csv, .word</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>current_j2_information</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;J2 Dependent Information&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Existing J2 Dependents: {!Find_My_Opportunity.Existing_J2__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>programExtension.Are_these_J2s_correct__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>programExtension.New_J2_dependent__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>programExtension.Specify_intended_J2_s_name__c</objectFieldReference>
        </fields>
        <fields>
            <name>terms_conditions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Conditions of Greenheart Program&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;By submitting my program renewal request, I understand that granting of this request is contingent on the approval of Greenheart Exchange and a Greenheart Exchange-approved Host School. If my request is approved, I understand that I am responsible for paying all applicable feeds (as detailed in the participant handbook), and that these fees are subject to change.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TC_error_message</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Agreeing to the Terms and Conditions is Required to Submit. Please make sure your full name matches the name on your application.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>tcNoMatch</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>program_extension_upload_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>program_extension_upload_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>programExtension.Full_Name__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>program_extension_upload_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>programExtension.Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>460</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>program_extension</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cdlRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>cdlsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>culturalDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>docId_ContractLetter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>docId_CulturalRefId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>docId_SchoolRefLetter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>docToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>documentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Houses the Id of the created document record used to store the file upload</description>
        <name>documentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>fileName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>programExtension</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Extension__c</objectType>
    </variables>
    <variables>
        <name>schoolDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>schoolDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tcNoMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
