force-app/main/default/flows/Screen_Flow_View_Submit_or_Update_Insurance_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_CDL_Docs</name>
        <label>Assign CDL Docs</label>
        <locationX>812</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>CDLRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Policy_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Documents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CDLRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Policy_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Enrollment_CDL_Docs</name>
        <label>Assign Enrollment CDL Docs</label>
        <locationX>1116</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>CDLRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Enrollment_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Documents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CDLRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Enrollment_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Insurance_Enrollment_Document</name>
        <label>Copy 1 of Create Insurance Enrollment Document</label>
        <locationX>812</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>documentRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insurance Enrollment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>documentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment_Date_on_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Insurance_Policy_Document</name>
        <label>Copy 1 of Create Insurance Policy Document</label>
        <locationX>548</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>documentRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insurance Policy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>documentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Policy_Received_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Insurance_Enrollment_Document</name>
        <label>Create Insurance Enrollment Document</label>
        <locationX>284</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>documentRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insurance Enrollment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>documentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Received_Dates_On_the_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Insurance_Policy_Document</name>
        <label>Create Insurance Policy Document</label>
        <locationX>284</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>documentRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insurance Policy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>documentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Insurance_Enrollment_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Enrollment_Date_on_Opportunity</name>
        <label>Update Enrollment Date on Opportunity</label>
        <locationX>812</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Record.Insurance_Enrollment_Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Policy_Received_Date</name>
        <label>Update Policy Received Date</label>
        <locationX>548</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Record.Insurance_Policy_Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Received_Dates_On_the_Opportunity</name>
        <label>Update Received Dates On the Opportunity</label>
        <locationX>284</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Record.Insurance_Policy_Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Record.Insurance_Enrollment_Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Documents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Document_Type</name>
        <label>Document Type</label>
        <locationX>876</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Enrollment_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enrollment</defaultConnectorLabel>
        <rules>
            <name>Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Documents.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Policy_Ids</targetReference>
            </connector>
            <label>Policy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Policies_Uploaded</name>
        <label>Policies Uploaded?</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Which_One_Uploaded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>insurancePolicyUploadLen</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>insuranceEnrollmentUploadLen</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>None Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_One_Uploaded</name>
        <label>Which One Uploaded?</label>
        <locationX>548</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Insurance_Enrollment_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only Enrollment</defaultConnectorLabel>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>insuranceEnrollmentUploadLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>insurancePolicyUploadLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Insurance_Policy_Document</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>Only_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>insurancePolicyUploadLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>insuranceEnrollmentUploadLen</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Insurance_Policy_Document</targetReference>
            </connector>
            <label>Only Policy</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>insuranceEnrollmentUploadLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!Upload_Insurance_Enrollment_Information.contentDocIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>insurancePolicyUploadLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!Upload_Insurance_Policy.contentDocIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Screen Flow: View, Submit, or Update Insurance Information {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Screen Flow: View, Submit, or Update Insurance Information</label>
    <loops>
        <name>Loop_Through_Documents</name>
        <label>Loop Through Documents</label>
        <locationX>548</locationX>
        <locationY>1298</locationY>
        <collectionReference>documentRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Document_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CDLs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Enrollment_Ids</name>
        <label>Loop Through Enrollment Ids</label>
        <locationX>1028</locationX>
        <locationY>1514</locationY>
        <collectionReference>Upload_Insurance_Enrollment_Information.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Enrollment_CDL_Docs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Policy_Ids</name>
        <label>Loop Through Policy Ids</label>
        <locationX>724</locationX>
        <locationY>1514</locationY>
        <collectionReference>Upload_Insurance_Policy.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CDL_Docs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CDLs</name>
        <label>Create CDLs</label>
        <locationX>548</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputReference>CDLRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Documents</name>
        <label>Create Documents</label>
        <locationX>548</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Loop_Through_Documents</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputReference>documentRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>view_insurance_information</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.J1_Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>post_submission</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputReference>Get_Opportunity_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>1340</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;There was an issue with processing your request - please try again or contact us if the issue persists.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>post_submission</name>
        <label>post submission</label>
        <locationX>176</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>thank_you</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Thank You for Submitting!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Your information has been updated. To preview, press the buton below. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Review Updated Insurance Information</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>update_information</name>
        <label>update information</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Policies_Uploaded</targetReference>
        </connector>
        <fields>
            <name>upload_information</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Submit Insurance Information&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If policy information is currently present, update the necessary fields with the new information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Record.Medical_Insurance_Start_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Record.Insurance_End_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Record.Insurance_Registration_End_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity_Record.Insurance_Registration_Complete__c</objectFieldReference>
        </fields>
        <fields>
            <name>Upload_Insurance_Policy</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Insurance Policy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Upload_Insurance_Enrollment_Information</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Insurance Enrollment Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>view_insurance_information</name>
        <label>view insurance information</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_information</targetReference>
        </connector>
        <fields>
            <name>information</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Current Insurance Information:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(56, 56, 56);&quot;&gt;Medical Insurance Start Date: &lt;/strong&gt;{!Get_Opportunity_Record.Medical_Insurance_Start_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(56, 56, 56);&quot;&gt;Medical Insurance End Date: &lt;/strong&gt;{!Get_Opportunity_Record.Insurance_End_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(56, 56, 56);&quot;&gt;Evacuation Insurance End Date: &lt;/strong&gt;{!Get_Opportunity_Record.Insurance_Registration_End_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(56, 56, 56);&quot;&gt;Insurance Registration Complete: &lt;/strong&gt;{!Get_Opportunity_Record.Insurance_Registration_Complete__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(56, 56, 56);&quot;&gt;Insurance Policy Received Date: &lt;/strong&gt;{!Get_Opportunity_Record.Insurance_Policy_Received_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(56, 56, 56);&quot;&gt;Insurance Enrollment Received Date:  &lt;/strong&gt;&lt;span style=&quot;color: rgb(56, 56, 56);&quot;&gt;{!Get_Opportunity_Record.Insurance_Enrollment_Received_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Need to Submit or Upload Information? Select &quot;Start&quot; to Begin.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CDLRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CDLRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>documentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>documentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
